@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

:root {
    --primary: #f1faee;
    --secondary: #1d3557;
    --primary-square: #a8dadc;
    --secondary-square: #457b9d;
    --title: #e63946;
}

body {
    box-sizing: border-box;
    background-color: var(--primary);
    font-family: 'Monomaniac One', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: var(--title);
    font-size: 3rem;
}

h2 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5px;
    margin: 5rem 0;
}

.square {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    background-color: var(--secondary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.turns {
    display: flex;
    gap: 2rem;
}

.turn-square {
    background-color: var(--primary-square);
    color: #000;
}

.selected {
    background-color: var(--secondary-square);
}

.winner-modal {
    background-color: var(--primary);
    width: 15rem;
    height: 15rem;
    border: solid 2px var(--secondary-square);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 12px;
}

.button {
    border: none;
    background-color: var(--primary-square);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.button:hover {
    background-color: var(--secondary-square);
    color: var(--primary);
}

.button:active {
    background-color: var(--secondary);
}

